html, body
{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(0,165,228);
  background: linear-gradient(229deg, rgba(0,165,228,0.08307072829131656) 0%,
  rgba(249,232,78,0.147408963585435) 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  place-content: center;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
