/*html, body*/
/*{*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
/*    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
/*  background: rgb(0,165,228);*/
/*  background: linear-gradient(229deg, rgba(0,165,228,0.08307072829131656) 0%,*/
/*  rgba(249,232,78,0.147408963585435) 100%);*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  position: absolute;*/
/*  place-content: center;*/
/*}*/


/*a {*/
/*  color: inherit;*/
/*  text-decoration: none;*/
/*}*/

/** {*/
/*  box-sizing: border-box;*/
/*}*/


html, body {
    height: 100%;
    /* margin: 0;
    padding: 0; */
}

body {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-family: "Nunito sans", sans-serif;
    color: var(--blue);
    font-size: 1em;
}

/* nav {
    position: absolute;
    top: 8px;
    left: 1px;
    color: var(--blue);
} */

nav img {
    width: 200px;
    height: 50px;
}




::-webkit-scrollbar{
	width: 7px;
}

::-webkit-scrollbar-thumb{
	/* background-color: #CBCBCB; */
	background-color: #00a5e4;
	/* outline: 2px solid #FFF; */
	outline-offset: -2px;
	/* border: .1px solid #B7B7B7; */
    border-radius: 30px;
    
}

::-webkit-scrollbar-thumb:hover{
	background-color: #00a3e4af;
}




/* CSS FOR TIME PICKER FOR BOOKING A ROOM */
.react-datepicker__input-time-container {
    width: 100% !important;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input {
    width: 100% !important; 
}

/* .react-datepicker__input-time-container .react-datepicker-time__input-container {
    display: block !important;
} */

.timepickerContainer .react-datepicker-wrapper {
    width: 5rem !important;
}

.timepickerContainer {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-evenly;
}

/* .react-datepicker-wrapper {
    width: 50% !important;
} */
.react-datepicker__input-container {
    width: 100% !important;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container {
    display: flex;
    width: 225px;
}