.container {
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
    background: white;
    position: relative;
    border-radius: 5px;
}

.left, .right {
    width: 50%;
    height: 80%;
    top: 20px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.left {
    border-right: 1px solid grey;
}

.right {
    align-content: center;
    justify-content: center;
}

/*login box styling*/
.login {
    font-size: 50px;
    font-weight: 900;
    margin: 40px 80px;
}

.desc {
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 40px;
    margin-right: 40px;
}

.google {
    align-self: center;
    justify-self: center;
}
