@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

.loginBody {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito sans", sans-serif;
    color: #0e0620;
    font-size: 1em;
}

.loginContainer {
    display: flex;
    width: 80vw;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.leftHalf, .rightHalf {
    flex: 1;
}

.rightHalf h1, .rightHalf h2 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.rightHalf h1 {
    font-size: 4.5em;
}

.leftHalf img {
    width: 700px;
    height: 300px;
    object-fit: cover;
}

.googleLogin {
    width: 200px;
    height: 50px;
    object-fit: contain;
}


/* Edit Page */

.flexContainer {
    display: flex;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
}




/* ============== Implementation fo mobile friendly goes below ============== */
