@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

.tableBody {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Nunito sans", sans-serif;
    padding-inline: 20px;
    background-color: #ffff;
    font-weight: bold;
    padding-top: 4rem;
    
}

.tableBody h1 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
    
}

.section1 {
    padding: 1rem;
    width: 100%;
    background: #f8f9fa;
    border-radius: 8px;
}

.section2 {
    padding: 1rem;
    width: 100%;
    background: #f8f9fa;
    border-radius: 8px;
    margin-top: 20px;
}