
.tableContainer {
    display: flex;
    gap: 80px;
    width: 80%;
    margin:auto;
}

.userTableContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:auto;
}

@media only screen and (max-width: 1450px) {
    .tableContainer {
        flex-direction: column;
    }
}
