.flexContainer {
    display: flex;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

.buttonPointer {
    cursor: pointer;
    background-color:#00a5e4;
    color: white;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 5px 0px;
}


.toolTip{
    position: absolute;
    z-index: 1;
    background: black;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    padding: 8px;
    font-size: 13px;
    color: #fff;
    visibility: hidden;
}

.table {
    cursor: pointer;
}




.flexContainerButtons {
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

.dropdown {
    background: transparent;
}