
.tableContainer {
    display: flex;
    gap: 80px;
    width: 85vw;
    margin:auto;
    flex: 1;
    justify-content: center;
}

.materialTable {
    width: 50%;
}

.userTableContainer {
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin:auto;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 85vw;
    margin:auto;
    flex: 1;
    justify-content: center;
}

/*  Stuff for general settings page */
.team {
 display: flex;

}



@media only screen and (max-width: 1200px) {
    .tableContainer {
        flex-direction: column;
    }
    .materialTable {
        width: 100%;
    }
}



